/*
html5doctor.com Reset Stylesheet
v1.6.1
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

// css ここから
$back_ground: yellow;
$kuro: #030303;
$hover: #555;

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: $back_ground;
}
ul{
    list-style: none;
}
a{
    color: $back_ground;
    text-decoration: none;
    &:hover{
    opacity: 0.5;
    }
}
h1{
    font-size: 32px;
}
h2{
    font-size: 28px;
    color: $back_ground;
    background-color: $kuro;
    width: 100vw;
    margin: 0 calc(50% - 50vw) 32px;
    padding: 0 calc(50vw - 50%);
    box-sizing: border-box;
    line-height: 44px;
}
h3{
    font-size: 24px;
    text-indent: 8px;
    margin-bottom: 32px;
}
p{
    font-weight: bold;
    text-indent: 8px;
}

header{
    height: 70px;
    width: 100%;
    background-color: $back_ground;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    #logo{
        margin-left: 24px;
        font-size: 16px;
    }
    ul{
        display: flex;
        li{
            margin: 0 16px;
            font-weight: bold;
            a{
                color: #000;
                text-decoration: none;
            }
            a:hover{
                color: $hover;
            }
        }
    }
}
#main-v{
    margin-bottom: 80px;
    background-color: $kuro;
    img{
        width: 80%;
        padding: 0 10%;
    }
    .layer{
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%,0);
        height: 125%;
        width: 60%;
    }
}
#main{
    margin: 0 10%;
}
#new-movie{
    margin-bottom: 80px;
    .video{
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        iframe{
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}
#about{
    margin-bottom: 80px;
}
#starbear{
    display: flex;
    line-height: 48px;
    width: 100%;
    margin-bottom: 64px;
    img{
        width: 40%;
        height: 40%;
        margin: 0 5% 16px;
    }
}
#member{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 64px;
    flex-direction: row;
    div{
        width: 50%;
        line-height: 32px;
        display: flex;
        padding-left: 8px;
        box-sizing: border-box;
    }
    img{
        width: 50%;
        height: auto;
        margin-bottom: 16px;
        object-fit: cover;
    }
    .feature{
        flex-direction: column;
    }
    span{
        font-size: 18px;
    }
}

.stardust::after{
    content: "";
    display: inline-block;
    position: relative;
    border: 5px solid $kuro;
    top: 12px;
    left: 8px;
    width: 24px;
    height: 24px;
    background-color: yellow;
}
.kumakiti::after{
    @extend .stardust;
    background-color: blue;
}
.yami::after{
    @extend .stardust;
    background-color: red;
}

#movie-list{
    margin-bottom: 80px;
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    li{
        height: 232px;
        width: 30%;
        margin-bottom: 16px;
        background-color: $kuro;
        line-height: 24px;
        padding: 8px;
        box-sizing: border-box;
        position: relative;
        .image{
            text-align: center;
            position: absolute;
            left: 0;
            bottom: 16px;
            width: 100%;
            img{
                width: 80%;
            }
        }
    }
}
#twitter{
    margin-bottom: 32px;
}
#timeline{
    margin: 0 10%;
    overflow-y: scroll;
    width: 80%;
    height: 400px;
}
footer{
    text-align: center;
    height: 64px;
    line-height: 32px;
    background-color: $kuro;
    color: $back_ground;
    a{
        color: $back_ground;
    }
}
#top_button a{
    display: inline-block;
    position: fixed;
    right: 32px;
    bottom: 56px;
    height: 24px;
    width: 24px;
    transform: rotate(-135deg);
    border-right: 5px solid $kuro;
    border-bottom: 5px solid $kuro;
}

@media screen and (max-width: 1024px) and (min-width: 481px){
    #starbear{
        line-height: 32px;
        flex-direction: column;
        img{
            width: 70%;
            height: 70%;
            margin: 0 15% 16px;
        }
    }
    #about{
        margin-bottom: 0;
    }
    #member{
        flex-direction: column;
        div{
            margin-bottom: 32px;
        }
        h3{
            margin-bottom: 8px;
        }
        div{
            width: 100%;
        }
        img{
            width: 50%;
            height: 260px;
        }
    }
    #movie-list{
        li{
            height: 200px;
            width: 45%;
        }
        a{
            font-size: 90%;
        }
    }
}

@media screen and (max-width: 480px){
    header{
        height: 100px;
    }
    h1{
        font-size: 24px;
    }
    #menu{
        background-color: $kuro;
        height: 56px;
        margin-bottom: -8px;
        ul{
            flex-wrap: wrap;
            justify-content: space-evenly;
            line-height: 24px;
        }
        a{
            color: $back_ground;
        }
    }
    #main-v{
        margin-bottom: 32px;
    }
    #new-movie{
        h3{
            margin-bottom: 24px;
        }
        iframe{
            top: 0;
        }
    }
    h3{
        font-size: 20px;
        margin-bottom: 12px;
    }
    #about{
        margin-bottom: 32px;
    }
    #starbear{
        flex-wrap: wrap;
        line-height: 24px;
        margin-bottom: 32px;
        img{
            width: 90%;
        }
    }
    #member{
        flex-direction: column;
        margin-bottom: 32px;
        div{
            display: flex;
            padding-left: 0;
            width: 100%;
            margin-bottom: 16px;
        }
        p{
            font-size: 14px;
            line-height: 24px;
            width: 110%;
        }
        img{
            width: 40%;
            height: 160px;
            object-fit: cover;
        }
    }
    .stardust::after{
        width: 16px;
        height: 16px;
        top: 8px;
    }
    #movie-list{
        margin-bottom: 32px;
        li{
            width: 100%;
        }
        a{
            font-size: 100%;
        }
    }
    #timeline{
        width: 100%;
        margin: 0;
    }
    #top_button a{
        position: fixed;
        right: 16px;
        bottom: 32px;
        width: 16px;
        height: 16px;
    }
}